.fruit-container {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(var(--pos-x), var(--pos-y));
    z-index: var(--z-axis);
    pointer-events: none;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fruit-sprite {
    font-size: 2rem;
    animation: bounce-rotate 1.5s infinite ease-in-out;
    -webkit-filter: drop-shadow(0 0 10px rgba(255, 0, 85, 0.5));
    filter: drop-shadow(0 0 10px rgba(255, 0, 85, 0.5));
}

@keyframes bounce-rotate {

    0%,
    100% {
        transform: translateY(0) rotate(0deg) scale(1.1);
    }

    50% {
        transform: translateY(-20px) rotate(10deg) scale(1.3);
    }
}

.fruit-glow {
    position: absolute;
    width: 40px;
    height: 20px;
    background: radial-gradient(circle, rgba(255, 0, 85, 0.4) 0%, transparent 70%);
    bottom: 5px;
    filter: blur(5px);
    border-radius: 50%;
}

.cherry .fruit-sprite {
    filter: drop-shadow(0 0 10px #ff0055);
}

.strawberry .fruit-sprite {
    filter: drop-shadow(0 0 10px #ff3366);
}

.orange .fruit-sprite {
    filter: drop-shadow(0 0 10px #ffa500);
}